/* GENERAL MARGIN */
.general_margin {
  /* width: 70%;
    margin: auto; */
  margin: 10px calc(1px + 15vw);
}
@media (max-width: 425px) {
  .general_margin {
    margin: 10px calc(10px + 2vw);
  }
}
.hr_horizontal_orange {
  background-color: #ff8900;
  height: 4px;
  width: 40px;
  border: 0;
  width: 100%;
}
.hr_vertical_orange {
  background-color: #ff8900;
  width: 4px;
  border: 0;
  height: 100%;
}


/* *********************** PAGES TEXT CLASSES **********************/

.page_title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: calc(15px + 2vw);
  color: white;
  margin: 0;
}
.page_subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: calc(15px + 1vw);
  color: #ff8900;
  margin: 0;
}
.regular_text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: calc(16px + 0.1vw);
  margin: 0;
}
.criteres_small {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: calc(18px + 0.1vw);
  color: #494642;
  margin: 0;
}
.criteres_big {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: calc(14px + 0.1vw);
  color: #494642;
  margin: 0;
}
.regular_orange_subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: calc(20px + 0.1vw);
  color: #ff8900;
  text-transform: uppercase;
  margin: 0;
}
.regular_black_subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: calc(20px + 0.1vw);
  color: black;
  text-transform: uppercase;
  margin: 0;
}
.regular_orange_title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: calc(18px + 0.1vw);
  text-align: left;
  color: #ff8900;
  text-transform: uppercase;
  margin: 0;
}
.regular_black_title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: calc(18px + 0.1vw);
  color: black;
  text-transform: uppercase;
  margin: 0;
}
.mission_title {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: calc(16px + 0.1vw);
  text-align: left;
  color: black;
  text-transform: uppercase;
  margin: 0;
}
.mission_title_middle {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: calc(14px + 0.1vw);
  text-align: left;
  color: black;
  text-transform: uppercase;
  margin: 0;
}
.classic_button_orange {
  background-color: #ff8900 !important;
  color: white !important;
  text-transform: initial !important;
  font-family: "Open Sans" !important;
  font-size: calc(12px + 0.5vw) !important;
  font-weight: 600 !important;
  transition: all 0.3s ease !important;
}
.classic_button_orange:hover {
  background-color: #f9bf59 !important;
}
