.servicesBottle {
  background-color: #6c6b68;
  color: white;
}

.servicesTitle {
  margin-top: 0px;
  padding-top: 6%;
  font-size: 5vh;
}

.orange {
  color: #ff8900;
}

.black {
  color: black;
}

/* ------- GRID 1 --------- */

.section {
  clear: both;
  padding: 0px;
  margin: 0px;
  margin-top: 10%;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.3%;
}
.col:first-child {
  margin-left: 0;
}

/*  GROUPING  */
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1; /* For IE 6/7 */
}

/*  GRID OF THREE  */
.span_3_of_3 {
  width: 100%;
}
.span_2_of_3 {
  width: 66.23%;
}
.span_1_of_3 {
  width: 32.46%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {
    margin: 1% 0 1% 0%;
  }
  .span_3_of_3,
  .span_2_of_3,
  .span_1_of_3 {
    width: 100%;
  }
}

/* ------- FIN    GRID --------- */

.exampleTiret {
  border: 3px white solid;
  margin-left: 45%;
  margin-right: 45%;
}

.petit_texte {
  font-size: 2.3vh;
}

.bold-services {
  font-weight: 600;
}

/* ------- GRID 2 --------- */

/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
  margin-top: 8%;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.3%;
}
.col:first-child {
  margin-left: 0;
}

/*  GROUPING  */
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1; /* For IE 6/7 */
}

/*  GRID OF TWO  */
.span_2_of_2 {
  width: 100%;
}
.span_1_of_2 {
  width: 49.35%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
  .col {
    margin: 1% 0 1% 0%;
  }
}

@media only screen and (max-width: 480px) {
  .span_2_of_2,
  .span_1_of_2 {
    width: 100%;
  }
}
