.ButtonStudent {
  margin: 2% !important;
  background-color: #ff8900 !important;
  color: white !important;
  width: 40% !important;
  height: 15% !important;
  font-size: 17px !important;
  font-weight: 900 !important;
  text-transform: initial !important;
}
