/* ***************************  APPLICATION OFFER VIEW ************************ */
.application-bloc {
  padding: 20px 0;
}
.application-date {
  display: flex;
  align-items: center;
}
.date-icon {
  width: 25px;
  margin-right: 4px;
}
@media all and (max-width: 320px) {
  .date-icon {
    width: 17px;
  }
}
.date-icon img {
  width: 100%;
}
.application-satut {
  display: flex;
  align-items: center;
}
.statut-icon {
  width: 30px;
  height: 30px;
  background-color: #494642;
  border-radius: 60px;
}
.statut-icon-blue {
  width: 30px;
  height: 30px;
  background-color: rgb(0, 70, 100);
  border-radius: 60px;
}
.statut-icon-red img {
  margin-top: 5px;
  text-align: center;
  width: 60%;
}
.statut-icon-red {
  width: 30px;
  height: 30px;
  background-color: rgb(255, 0, 0);
  border-radius: 60px;
}
.statut-icon-blue img {
  width: 60%;
  margin-top: 5px;
  text-align: center;
}
.statut-icon img {
  width: 60%;
  opacity: 0.4;
  margin-top: 5px;
  text-align: center;
}
.application-date-statut {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media all and (min-width: 600px) and (max-width: 860px) {
  .application-date-statut {
    flex-direction: column;
    align-items: flex-start;
  }
  .application-satut {
    padding: 5px 0 0 0;
  }
}
.application-hr {
  width: 100%;
}
.application-paper {
  padding: 20px;
}
.application-item {
  margin: 15px;
}

.application-mission {
  padding-bottom: 15px;
  max-height: 80px;
  min-height: 80px;
  overflow: auto;
}
.small-offerView {
  margin-bottom: 20px;
}

/* Midddle */

.Middle {
  /* border: 1px solid rgb(0, 70, 128); */
  text-align: right;
  width: 960px;
  margin: 10px auto;
  padding: 5px 5px;
}

.btn {
  width: 150px;
  position: absolute;
}

.OfferViewMiddle {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* border: 1px solid red; */
}

.LogoMiddle {
  /* background-color: #777; */
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 3px solid #ff8900;
  margin-right: 10px;
  color: #000;
}

.contenueMiddle {
  text-align: left;
  /* border: 1px solid brown; */
  width: 100%;
}

.companyMiddle,
.titleMiddle {
  text-transform: uppercase;
}

.companyMiddle {
  color: #ff8900;
}

.milieuMiddle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.townMiddle {
  /* width: 50%; */
  font-weight: 400;
  font-size: 1.25rem;
  /* border: 1px solid red; */
  margin-left: 10px;
}

.townMiddle > img {
  height: 25px;
  margin-right: 5px;
}

.dateMiddle {
  /* display: flex;
  flex-direction: row; */
  /* width: 100%; */
  font-weight: 400;
  font-size: 1.25rem;
  /* border: 1px solid green; */
}

.dateMiddle > img {
  height: 25px;
  margin-right: 5px;
}

/* Media query Middle */

@media all and (min-width: 320px) and (max-width: 720px) {
  .Middle {
    width: 350px;
    /* border: #494642 1px solid; */
  }

  .OfferViewMiddle {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 0;
    width: 100%;
    /* border: 1px solid rosybrown; */
  }

  .LogoMiddle {
    width: 95%;
    height: 30%;
    border: none;
    border-bottom: 3px solid #ff8900;
  }

  .milieuMiddle {
    flex-direction: column;
    /* align-items: flex-end; */
    justify-content: ;
    border: 1px solid red;
  }
}

@media all and (min-width: 720px) and (max-width: 960px) {
  .Middle {
    width: 720px;
  }
}

/* Fin Middle */

/***************************************** FULL ***************************************/

.OfferViewFull {
  text-align: left;
  color: black;
}
.center-company-full {
  text-align: center;
}
.bloc-contact-full {
  padding-top: 30px;
}
.contact-company-full {
  text-align: left;
}
.introFull {
  padding-bottom: 30px;
}

.milieuFull {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.townFull,
.dateFull,
.levelFull {
  display: flex;
  align-items: center;
  padding: 3px 0;
}

.imageFull {
  height: 25px;
  margin-right: 10px;
}

@media all and (max-width: 768px) {
  .milieuFull {
    flex-direction: column;
    justify-content: flex-start;
  }
  .townFull,
  .dateFull,
  .levelFull {
    margin: 0;
  }
}

/* FinFULL */
