.background-admin {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../img/Onepage.jpg");
  background-size: cover;
  height: 90.9vh;
}

.connexion-admin {
  transform: translate(50%, 40%);
  background-color: white;
  width: 50%;
  padding-top: 50px;
  padding-bottom: 5px;
}

@media (max-width: 768px) {
  .connexion-admin {
    width: 80%;
    margin: auto;
    transform: translate(0%, 30%);
  }
}
.bloc-team-full {
  padding: 0 20px 20px 20px;
}
.bloc-company-admin {
  padding: 0 40px 0 40px;
}
.bloc-admin {
  margin-top: 110px;
  margin-bottom: 60px;
}
.bloc-logo-admin {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1px;
  padding-bottom: 65px;
}
.logo-company-admin {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: #c8c8c8;
  height: 143px;
  width: 143px;
  position: relative;


}

@media (max-width: 768px) {
  .bloc-company-admin {
    padding: 0 20px;
  }
  .logo-company-admin {
    height: 100px;
    width: 100px;
  }
  .bloc-logo-admin {
    padding-bottom: 55px;
  }
  .bloc-admin {
    margin-top: 90px;
  }
}
