.searchButton {
  color: white !important;
  text-transform: initial !important;
  font-weight: 900 !important;
  width: 100%;
  height: 100%;
  padding: 12px !important;
  border-radius: 7px !important;
}
.container-bloc {
  padding-top: 15px;
}

.Haut {
  background-image: url("../../img/Onepage2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 40vh;
  z-index: 0;
}
/* .header-search {
  padding: 10px 30px 20px 30px;

} */

.titrePage {
  color: #fff;
  font-size: 2rem;
  /* border: 1px solid white; */
  margin: 0;
}

.count {
  color: orange;
  font-weight: 800;
  font-size: 1.5rem;
}

/* .Middle {
  border: 1px solid red;
  padding: 10px 0;
  width: 960px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  boder: 1px solid green;
} */

@media (max-width: 480px) {
  /* .Middle {
    width: 300px;
    background: #ff8900;
    align-content: center;
    justify-content: center;
  } */

  /* .searchButton {
    margin-left: 3px !important;
    margin-right: 3px !important;
  } */
}
