.createOffers .form-create-offers {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  /* border: 1px solid green; */
  margin: auto;
  border-radius: 10%;
}

.logo-company {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 100%;
  background-color: #494642;
  opacity: 0.4;
  height: 150px;
  width: 150px;
  max-width: 100%;
}
.logo-img {
  width: 60%;
}
.date {
  /* border: 1px solid blue; */
  width: 100%;
  display: flex;
}

.dateText {
  /* border: 1px solid red; */
  margin: 0;
  width: 50%;
}

.dateText:nth-child(1) {
  margin-right: 5px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .date {
    display: flex;
    flex-direction: column;
  }
  .dateText {
    width: 100%;
    margin: 0;
  }
}
